*{
    box-sizing: border-box;
}

.indexHeader{
    background-color: crimson;
    border: 6px;
    border-color: olivedrab;
    border-style:dotted;
    font-family: Garamond, serif;
    margin-bottom: 10px;
    padding: 8px;
    text-align: center;

}

.indexList{
    background-color: brown;
    border: 6px;
    border-color: olivedrab;
    border-style:dotted;
    padding: 8px;
    text-align: center;
}

.indexListItem{
    display: block;
}