*{
    box-sizing: border-box;
    background-color: rgb(56, 55, 55);
}

.indexHeader{
    background-color: brown;
    border: 6px;
    border-color: olivedrab;
    border-style:dotted;
    font-family: "Courier New", serif;
    margin-bottom: 10px;
    padding: 8px;
    text-align: center;

}

.indexList{
    background-color: brown;
    border: 6px;
    border-color: olivedrab;
    border-style:dotted;
    padding: 8px;
    text-align: center;
}

.indexListItem{
    display: block;
    margin: 50px;
    background-color: brown;
}

.indexHeader h1{
    background-color: brown;
}

.indexList ul{
    background-color: brown;
}

.indexListItem a{
    background-color: brown;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.recipeHeader{
    color: rgb(165, 29, 47);
}