*{
    box-sizing: border-box;
}

.indexHeader{
    background-color: crimson;
    text-align: center;
    font-family: Garamond, serif;
    padding: 8px;
}

.indexList{
    background-color: brown;
    padding: 8px;
    text-align: center;
}

.indexListItem{
    display: block;
}